.productblockmaindiv {
    border: 0px, 1px, 0px, 1px;
    padding: 10px;
    width: 20rem !important;
    border-radius: 8px;
  
}
.productblockmaindiv.hovered {
    transition: all 0.3s;
    top: -0.5rem;
    padding-top: 12px;
    position: relative;
    height: 28rem;
    background: #9b9e51;
    color: #FFFFFF;
    border-radius: 0px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

/* .productblockmaindiv.hovered 
.productblockmessage.hovered {
    color: #fff;
}
.productblockmaindiv.hovered p
.productblockmessage.hovered {
    color: #fff;
} */
/* .{
    color: #FFF;
} */
.discount {
    margin: 0;
    text-align: end;
    font-family: Poppins;
}
.productQuentity {
    opacity: 50%;
    color: #211e24;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
}
.imgdiv {
    width: 280px;
    height: 202px;
    border: 0px, 1px, 0px, 1px;
    margin: 0rem auto;
    overflow: hidden;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgdiv img {
    max-width: 100%;
    max-height: auto;
    /* background-color: #211E24; */
}
.productblockmessage {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: justify !important;
    overflow: hidden;
    overflow-wrap: break-word;
}
