.productblockmaindiv{
    border: 0px, 1px, 0px, 1px;
    padding: 10px;
    width: 20rem!important;
    border-radius: 8px;
}
.productblockmaindiv.hovered{
    transition: all 0.3s;
    top:-.5rem;
    padding-top:12px ;
    position: relative;
    height: 28rem;
    background: #9B9E51;

}
.productblockmaindiv h2{
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;    
}
.productblockmaindiv.hovered h2,.productblockmessage.hovered{
color: #FFF;
}
/* .{
    color: #FFF;
} */
.discount{
    margin: 0;
text-align: end;
font-family: Poppins;
}
.productQuentity{
opacity: 50%;
color: #211E24;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.01em;
text-align: left;

}
.imgdiv{
    width: 280px;
    height: 202px;
    border: 0px, 1px, 0px, 1px;
    margin: 0rem auto ;
    overflow: hidden;
    /* background-color: blue; */
    display: flex;
  justify-content: center;
  align-items: center;
}
.imgdiv img{
    max-width: 15rem;
    max-height: auto;
    /* background-color: #211E24; */
}
.productblockmessage{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: justify!important;
    overflow: hidden;
    overflow-wrap: break-word;
}