.topContent{
   color: #7F7F7F;
   opacity: 60%;
   /* background-color: aqua; */
   padding-left: 0!important;
}
.topContent p{
    position: relative;
    margin: 0;
    top:-12px;
    left: 15px;

    font-family: Poppins;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.04em;
}

.ellipseFirst{
    position: relative;
    top:-10px;
    border-radius: 2px;
}

.ellipseSecond{
    position: relative;
    border-radius: 5px;
}