.main-heading{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.main-heading.typ-center{
  
    align-items: center;
    text-align: center;
}
.main-heading.typ-left{
  
    align-items: flex-start;
}
.main-heading h1{
    color: #211E24;
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 136%; /* 136.364% */
    margin-bottom: 8px;
    
}

.main-heading.typ-partner{

}
.main-heading.typ-partner h1{
    font-size: 32px;
}
.main-heading.typ-partner p{
    font-size: 16px;
}

.main-heading p{
    /* text-align: center; */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 150% */
    margin-bottom: 0;
}


.Stepper_layout .topContent{
    max-width: 180px;
}

.Stepper_layout .greyBG{
    background-color: #F9F9F9;
    padding: 45px 60px;
}
.greyBG{
    display: flex;
    justify-content: space-between;
}
.mod-stepper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mod-stepper h1{
    color: #AAA;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 130%; /* 39px */
    margin-bottom: 40px;
}

.mod-stepper .icon-bg-light{
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mod-stepper p{
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
    max-width: 180px;
   
}
.mod-stepper .icon-bg-light::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 65px;
    width: 190px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.40);
    z-index: 1;
}

.Stepper_layout .icon-bg-light.br-none::after{
    border-bottom: none !important;
    width: 0px !important;
    
} 

@media screen and (max-width:1200px) {
    .mod-stepper .icon-bg-light::after{
        width: 130px;
    }
}

@media screen and (max-width:992px) {
    .Stepper_layout{
        padding-top: 60px;
    }
    .Stepper_layout .greyBG {
        background-color: #fff;
        padding: 25px 20px;
        flex-direction: column;
    }
    .mod-stepper {
        margin-bottom: 50px;
    }
    .mod-stepper:last-child {
        margin-bottom: 0px;
    }
    .mod-stepper h1 {
        font-size: 30px !important;
        margin-bottom: 10px;
    }
    .mod-stepper p{
        font-size: 14px;
        margin-bottom: 15px;
        max-width: 328px;
    }
    .mod-stepper p:last-child{
        margin-bottom: 0;
    }
    .mod-stepper .icon-bg-light::after{
      
        top: 113px;
        left: 50%;
        width: 1px;
        height: 40px;
        border-bottom: 0px solid transparent;
        border-right: 1px solid rgba(0, 0, 0, 0.40);;
    }
    .Stepper_layout .icon-bg-light.br-none::after{
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
    } 
}

@media screen and (max-width:767px) {
    .main-heading{
        margin-bottom: 40px;
    }
    .main-heading h1{
        font-size: 20px;
        line-height: 150%; /* 39px */
        margin-bottom: 16px;
    }
    .main-heading p{
        font-size: 14px;
        line-height: 170%; /* 150% */
    }
}

