.mobile-filter-wrap{display: none;}
.tab-wrap{display:flex;margin-top:20px;}
.tab-wrap .btn:focus{box-shadow:none;outline:none;}
.tab-wrap .btn{font-size:16px;color:#7a7c7f;border-radius:0;padding:0 10px;height:48px;}
.tab-wrap .active{color:#211E24;border-bottom:3px solid #9DA14E;}
.head-wrap{margin-top:40px;display:flex;align-items:center;justify-content:space-between;}
.head-wrap .heading-wrap{display:flex;align-items:center;column-gap:10px;align-self:flex-start;}
.head-wrap .heading-wrap .sub-heading{color:#7a7c7f;}
.head-wrap .heading-wrap .heading{color:#211E24;}
.head-wrap .btn-wrap{display:flex;column-gap:15px;}
.head-wrap .btn-wrap .btn{height:54px;background:#73509E;color:#fff;border-radius:12px;padding:0 30px;display:flex;align-items:center;column-gap:10px;font-weight:600;}
.head-wrap .btn-wrap .btn.location{padding:0 42px;box-sizing:border-box;}
.head-wrap .btn-wrap .short-wrap{position:relative;}
.head-wrap .btn-wrap .short-wrap .short-btn{background:none;border:2px solid #73509E;color:#73509E;position:relative;}
.head-wrap .btn-wrap .short-wrap .shorts{position:absolute;box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.12);border-radius:12px;overflow:hidden;width:310px;top:60px;right:0;z-index:1;}
.head-wrap .btn-wrap .short-wrap .shorts .item{font-size:14px;color:#211E24;background:#fff;height:50px;display:flex;align-items:center;padding:0 20px;cursor:pointer;}
.head-wrap .btn-wrap .short-wrap .shorts .item:hover{background:#9B9E51;color:#fff;}
.head-wrap .btn-wrap .filter-btn{display: none;}
.filter-wrap{flex:0 0 300px;box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.12);border-radius:8px;overflow:hidden;padding:24px 16px;display:flex;flex-direction:column;row-gap:15px;height:max-content;}
.filter-wrap .head{display:flex;align-items:center;justify-content:space-between;}
.filter-wrap .head .heading{display:flex;align-items:center;column-gap:8px;}
.filter-wrap .head .clear{cursor:pointer;}
.filter-wrap .filter{display:flex;flex-direction:column;row-gap:15px;border-bottom:1px solid #ddd;padding-bottom:15px;}
.filter-wrap .filter:last-child{border-bottom:none;padding-bottom:0;}
.filter-wrap .filter .head{cursor:pointer;}
.filter-wrap .filter .head svg.open{rotate:180deg;}
.filter-wrap .filter .filter-body{padding-left:8px;}
.filter-wrap .filter .filter-body .checkbox-wrap{display:flex;flex-direction:column;row-gap:15px;}
.filter-wrap .filter .filter-body .checkbox-wrap .checkbox-item{display:flex;align-items:center;justify-content:space-between;}
.filter-wrap .filter .filter-body .checkbox-wrap .checkbox-item label{cursor:pointer;display:contents;margin:0;}
.filter-wrap .filter .filter-body .checkbox-wrap .checkbox-item input{display:flex;margin:0;width:20px;height:20px;cursor:pointer;accent-color:#73509E;}

.col-cust{position:relative;}
.layout-wrap{margin:60px 0 0;}
.layout-wrap .product-wrap{display:flex;flex-direction:column;row-gap:80px;margin-top:30px;}
.layout-wrap .product-wrap .products{display:flex;flex:1;flex-wrap:wrap;row-gap:80px;}
.layout-wrap .product-wrap .product{width:33.33%;min-height:380px;position:relative;display:flex;flex-direction:column;transition:.2s;box-sizing:border-box;border-right:1px solid #73509e1a;}
.layout-wrap .product-wrap .product .product-inner{position:absolute;left:0;top:0;right:0;padding:25px;}
.layout-wrap .product-wrap .product:nth-child(3n + 3){border-right:none;}
.layout-wrap .product-wrap .product .product-img{width:100%;height:250px;object-fit:cover;display:flex;align-self:center;padding:30px 0px;}
.layout-wrap .product-wrap .product .content{margin:0;}
.layout-wrap .product-wrap .product .content .name{font-size:20px;color:#211E24;margin:0 0 10px;}
.layout-wrap .product-wrap .product .content .name:after{content:"";width:32%;height:2px;background:#211E24;display:flex;margin-top:4px;}
.layout-wrap .product-wrap .product .content .location{font-size:14px;color:#7a7c7f;margin:0 0 5px;}
.layout-wrap .product-wrap .product .content .price-wrap{display:flex;align-items:center;column-gap:5px;justify-content:space-between;color:#211E24;margin:0 0 10px;}
.layout-wrap .product-wrap .product .content .price-wrap .time{font-size:16px;}
.layout-wrap .product-wrap .product .content .price-wrap .price{font-size:20px;}
.layout-wrap .product-wrap .product .heart{position:absolute;top:15px;right:15px;background:none;border:none;padding:0;}
.layout-wrap .product-wrap .product .heart svg{stroke:#211E24;fill:transparent;}
.layout-wrap .product-wrap .product .heart.favorite svg{fill:#73509E ;stroke: #73509E;}
.layout-wrap .product-wrap .product .purchase{font-size:16px;background:#73509E;color:#fff;height:54px;border:none;padding:0 30px;border-radius:12px;transition:.3s;display:none;}

.layout-wrap .product-wrap .product:hover .product-inner{background:#9B9E51;top:-30px;bottom:-50px;padding:20px 25px;min-height:450px;}
.layout-wrap .product-wrap .product:hover .content .name{color:#fff;}
.layout-wrap .product-wrap .product:hover .content .name:after{background:#fff;}
.layout-wrap .product-wrap .product:hover .content .location{color:#fff;}
.layout-wrap .product-wrap .product:hover .content .price-wrap{color:#fff;}
.layout-wrap .product-wrap .product:hover .heart svg{stroke:#fff;}
.layout-wrap .product-wrap .product:hover .heart.favorite svg{fill:#73509E;stroke:#73509E;}
.layout-wrap .product-wrap .product:hover .purchase{display:block;}
.bot-icon-wrap{display:flex;justify-content:flex-end;margin-top:-20px;}
.bot-icon-wrap .bot-icon{width:60px;height:60px;border-radius:60px;background:#9B9E51;display:flex;align-items:center;justify-content:center;cursor:pointer;}

@media(max-width:1100px){
    .layout-wrap .product-wrap .product{padding:20px;width:calc(50% - 7px);}
}
@media(max-width:991px){
    .filter-wrap{flex:0 0 250px;}
}
@media(max-width:767px){
 
    .mobile-filter-wrap{display: block;}
    .filter-wrap{display: none;}
    .layout-wrap{margin:30px 0 0;}
    .layout-wrap .product-wrap .product{max-width:420px;margin:0 auto;width:100%;}
    .tab-wrap{max-width:420px;margin:0 auto;width:100%;}
    .head-wrap{max-width:420px;margin:0 auto;width:100%;flex-direction:column;row-gap:10px;margin-top:10px;}
    .head-wrap .btn-wrap{column-gap:10px;}
    .head-wrap .btn-wrap .btn{height:45px;padding:0 16px;font-size:14px;}
    .head-wrap .btn-wrap .btn.location{font-size:12px;padding:0 34px;}
    .head-wrap .btn-wrap .short-wrap .short-btn span{display: none;}
    .head-wrap .btn-wrap .filter-btn{display: block;background: #fff;border: 2px solid #73509E;}
}