.footerBottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #999E51;
    padding: 10px 0;
}
.footerBottom div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerBottom div p{
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.8571428656578064px;
    text-align: left;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .footerBottom div p{
        margin: 0;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.8571428656578064px;
        text-align: left;
        color: #FFFFFF;
    }
  }